<div class="row">
  <div class="col-md-4">
    <%= form_for(@couch) do |f| %>

      <% if @couch.errors.any? %>
        <div class="alert alert-danger">
          <ul>
          <% @couch.errors.full_messages.each do |message| %>
            <li><h5><%= message %></h5></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
          <%= f.label "Nombre" %><br>
        <%= f.text_field :name, required: true, class: 'form-control', label: 'Nombre', placeholder: 'Ingrese el nombre' %>
      </div>
      <div class="field">
        <%= f.label "Tipo de hospedaje" %><br>
        <%= collection_select(:couch, :type_id, Type.all, :id, :name, {}, { class: 'form-control'}) %>
      </div>
      <div class="field">
        <%= f.label "Descripción" %><br>
        <%= f.text_area :description, class: 'form-control', :rows => 4, label: 'Descripción', placeholder: 'Ingrese la descripcion' %>
      </div>
      <div class="field">
        <%= f.label "Lugar" %><br>
        <%= f.text_field :location, required: true, class: 'form-control', label: 'Lugar', placeholder: 'Ingrese la localizacion' %>
      </div>
      <div class="field">
        <%= f.label "Fecha de Inicio" %><br>
        <%= f.date_field :dateBegin, required: true %>  
      </div>
      <div class="field">
        <%= f.label "Fecha Final" %><br>
        <%= f.date_field :dateEnd, required: true %>
      </div>
      <div class="field">
        <%= f.label "Número de huéspedes" %><br>
          <%= f.number_field :maxHosts, required: true, class: 'form-control', label: 'maxHosts', placeholder: 'Ingrese el numero maximo de inquilinos' %>
      </div>
      <div class="field">
        <%= f.label "Imagen (insertar enlace http)" %><br>
        <%= f.url_field :image, class: 'form-control', label: 'Image', placeholder: 'Ingrese el link a la imagen' %>
      </div>
      <div class="actions">
        <%= f.submit "Guardar", class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>

<br>
