<% if user_signed_in? && !@couch.is_owner?(current_user) %> 
  <h4>¿qué quieres preguntar?</h4>
  <%= form_for(Question.new) do |f| %>
     <div class="field">
        <%= f.text_area :ask, required: true , class: 'form-control', :rows => 2, label: 'Responder', placeholder: 'Ingrese la pregunta' %>
     </div>
     <div>
      <%= f.hidden_field :couch_id, {:value => @couch.id} %>
    </div>
     <div class="actions">
        <%= f.submit "Enviar", class: "btn btn-default" %>
     </div>
  <% end %>
<% end %>

<% if @couch.questions.count > 0 %>
  <ul id="toggle-ask">
    <% @couch.questions.each do |question| %>
    <li>
      <h3><%= question.ask %></h3>
      <h4>por <%= question.user.name %></h4>
      <span>+</span>
      <div class="panel">
        <% if question.answer == nil  %>
          <% if @couch.is_owner?(current_user) %>
          <%= link_to 'Eliminar', question, method: :delete, data: { confirm: '¿Seguro de querer elimirar la Pregunta?' }, class: "btn btn-danger" %><br>
            <%= form_for(Question.new) do |f| %>
               <div class="field">
                  <%= f.label "Responder" %><br>
                  <%= f.text_area :answer, required: true , class: 'form-control', :rows => 2, label: 'Responder', placeholder: 'Ingrese la respuesta' %>
               </div>
               <div class="actions">
                  <%= f.submit "Enviar", class: "btn btn-default" %>
               </div>
            <% end %>
          <% else %>
            <p>Sin responder</p>
          <% end %>
        <% else %>
          <p><%= question.answer %></p>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>

<% else %>
  <h5>No se realizaron preguntas en este Hospedaje.</h5>

<% end %>
