<h1>Mis Hospedajes</h1>

  <table class="table table-hover">
    <thead>
    <div class="row">
      <tr>
        <div class="col-md-2">
          <th></th>
        </div> 
        <div class="col-md-6">
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Lugar</th>
          <th>Huespedes</th>
          <th>Fecha de Inicio</th>
          <th>Fecha Limite</th>
        </div> 
        <div class="col-md-4">
          <th>Descripción</th>
        </div> 
      </tr>
    </div> 
    </thead>

    <tbody>
    <div class="row">
      <% @couches.each do |couch| %>
        <tr data-link="<%= couch_path(couch) %>">
          <div class="col-md-2">
              <td class="img-thumbnail"><%= image_tag( couch.image , height: '80', width: '80')%></td>
          </div> 
          <div class="col-md-7">
            <td><h4><%= couch.name %></h4></td>
            <td><h4><%= couch.type.name %></h4></td>
            <td><h4><%= couch.location %></h4></td>
            <td><h4><%= couch.maxHosts %></h4></td>
            <td><h4><%= couch.dateBegin %></h4></td>
            <td><h4><%= couch.dateEnd %></h4></td>
          </div> 
          <div class="col-md-3">
            <td><h4><%= couch.description.truncate(40, :separator => ' ') %></h4></td>
          </div> 
        </tr>
      <% end %>
    </div> 
    </tbody>
  </table>
<br>

<div class="pagination">
    <%= will_paginate @couches, :container => false, :previous_label => "Anterior", :next_label => "Siguiente" %>
</div>