

<p>
  <strong>Nombre:</strong>
  <%= @couch.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @couch.type.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @couch.description %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @couch.location %>
</p>

<p>
  <strong>Fecha de Inicio:</strong>
  <%= @couch.dateBegin %>
</p>

<p>
  <strong>Fecha Limite:</strong>
  <%= @couch.dateEnd %>
</p>

<p>
  <strong>Huespedes:</strong>
  <%= @couch.maxHosts %>
</p>

<p>
  <strong>Imagen:</strong><br>

  <%= image_tag( @couch.image , height: '320', width: '320')%>
</p>

<% if user_signed_in? && current_user.name==@couch.user.name %>
<%= link_to 'Editar', edit_couch_path(@couch), class: "btn btn-default"%>                 
<%= link_to 'Destroy', @couch, method: :delete, data: { confirm: '¿Seguro de querer elimirar el Couch?' }, class: "btn btn-danger" %>
<% end %>
<br>
<%= link_to 'Volver', couches_path, class: "btn btn-default"%>
