
<div class="row">
  <div class="col-md-6">
    <!-- <h3><strong>Nombre:</strong></h3> -->
    <h1><%= @couch.name %></h1>
    <br>

    <h3><strong>Tipo:</strong> <%= @couch.type.name %></h3>

    <h3><strong>Lugar:</strong> <%= @couch.location %></h3>

    <h3><strong>Fecha de Inicio:</strong> <%= @couch.dateBegin %></h3>

    <h3><strong>Fecha Limite:</strong> <%= @couch.dateEnd %></h3>

    <h3><strong>Huespedes:</strong> <%= @couch.maxHosts %></h3>
  </div>

  <div class="col-md-6">
    <h3 class="img-thumbnail"> <%= image_tag( @couch.image , height: '320', width: '320')%></h3>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3><strong>Descripción:</strong></h3>
    <h4 class="img-thumbnail"><%= @couch.description %></h4>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? %> 
      <% if @couch.is_owner?(current_user) %>
        <%= link_to 'Editar', edit_couch_path(@couch), class: "btn btn-warning"%>  
        <%= link_to 'Eliminar', @couch, method: :delete, data: { confirm: '¿Seguro de querer elimirar el Couch?' }, class: "btn btn-danger" %><br>
        <br>
        <%= link_to 'Volver', couches_self_path, class: "btn btn-default"%>
      <% else %>
        <%= link_to 'Reservar', new_new_reservation_path(@couch), class: "btn btn-default"%><br> <!-- TODO crear parametros en el controller de reserva -->
        <br>
        <%= link_to 'Volver', @url_back, class: "btn btn-default"%>
      <% end %>
    <% end %>
  </div>
</div>







