<h2>Registrar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name, autofocus: true ,required: true,
placeholder: 'Ingrese el nombre' %>
  </div>

  <div class="field">
    <%= f.label :lastName, "Apellido" %><br />
    <%= f.text_field :lastName ,required: true, placeholder: 'Ingrese el apellido' %>
  </div>

  <div class="field">
    <%= f.label :age, "Fecha de nacimiento" %><br />
    <%= f.date_field :age ,required: true %>
    <% if @user.errors[:age].any? %>
      <div class="alert alert-danger"> <%= @user.errors[:age].first %> </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, required: true%>
    <% if @user.errors[:email].any? %>
      <div class="alert alert-danger"> <%= "El e-mail ya está siendo usado por otro usuario." %> </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, required: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, required: true, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
