<p id="notice"><%= notice %></p>

<h1>Listing Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= link_to 'Ver', type %></td>
        <td><%= link_to 'Editar', edit_type_path(type) %></td>
        <td><%= link_to 'Eliminar', type, method: :delete, data: { confirm: '¿Seguro de querer elimirar el Tipo?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo', new_type_path %>
