<%= form_for(@user) do |f| %>

  <div class="field form-group">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name ,required: true,
placeholder: 'Ingrese el nombre' %>
  </div>
  <div class="field form-group">
    <%= f.label "Apellido" %><br>
    <%= f.text_field :lastName ,required: true, placeholder: 'Ingrese el apellido' %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
      <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" , class: "btn btn-default"%>
  </div>
<% end %>

<%= link_to 'Cambiar contraseña', edit_user_password_path, class: "btn btn-link" %>
