<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
      <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label "Contraseña (entre 5 y 16 caracteres)" %><br>
      <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
