<p>El equipo de CouchInn descontará un solo pago para activar su membresía premium</p>

<%= form_for(@user) do |f| %>

  <div class="field">
      <%= f.label "Nombre del titular de la tarjeta" %><br>
      <%= f.text_field :card_titular %>
  </div>
  <div class="field">
      <%= f.label "Numero de cuenta (16 digitos)" %><br>
      <%= f.text_field :card_number, required: true, autocomplete: "off", :maxlength => 16,:minlength => 16 %>
  </div>
  <div class="field">
      <%= f.label "Numero de seguridad (4 digitos)" %><br>
      <%= f.text_field :card_security_number, required: true, autocomplete: "off", :maxlength => 4,:minlength => 4 %>
  </div>

  <div class="field">
     <%= f.check_box :premium, required: true %>
     <%= f.label "Deseo convertirme en premium y acepto las condiciones de serlo" %>
 </div>
<%= f.hidden_field :id %>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>


