<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @user.premium %>
</p>

<li><%= link_to 'Editar', edit_user_path(@user) %></li>

<% if !current_user.premium? %>
<li><%= link_to 'Convertirse en premium', premium_user_path(@user) %></li>
<% end %>
