<div class="row">
  <div class="col-md-6">
    <!-- <h3><strong>Nombre:</strong></h3> -->
    <h1>
      <% if current_user.admin? %>
        <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
      <% end %>
      <% if current_user.premium? %>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>
      <%= @user.name %> <%= @user.lastName %>
    </h1>
    <br>

    <h3><strong>Contacto:</strong> <%= @user.email %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? && @user == current_user %>
      <%= link_to 'Editar', edit_user_registration_path, class: "btn btn-warning"%>
      <% if !current_user.premium? %>
        <%= link_to 'Convertirse en premium', premium_user_path(@user) , class: "btn btn-warning"%>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <div><%= render 'califications' %></div>
  </div>
</div>

<br>
