
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><h5><%= message %></h5></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :confirmed %><br>
    <%= f.text_field :confirmed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
