<h1>Reservas del Couch</h1>

<div class="row">
  <div class="col-md-8">

    <table class="table">
      <thead>
        <tr>
          <th>Hospedaje</th>
          <th>Solicitante</th>
          <th>Fecha de Inicio</th>
          <th>Fecha Final</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
      <% @reservations.each do |reservation| %>
          <% if !(reservation.end_date < Date.current && !reservation.confirmed?) %>
            <tr>
                <td><h4><%= link_to reservation.couch.name, couch_path(reservation.couch) %></h4></td> 
                <td><h4><%= link_to reservation.user.name, user_path(reservation.user) %></h4></td>
              <td><h4><%= reservation.start_date %></h4></td>
              <td><h4><%= reservation.end_date %></h4></td>
              <% if reservation.confirmed? %>
                <td><h4><span class="label label-default">Confirmado</span><h4></td>
              <% else %>
                <td><h4><span class="label label-warning">En espera</span><h4></td>
              <% end %>
              <% if reservation.start_date > Date.current %>
                <td><%= link_to 'Cancelar', reservation, method: :delete, data: { confirm: '¿Seguro de querer elimirar la Reserva?' }, class: "btn btn-danger" %></td>
                <% if (reservation.confirmed!=true) %>
                    <td><%= link_to 'Confirmar', accept_reservation_path(reservation), data: { confirm: 'Al aceptar la reserva se rechazaran aquellas con fechas superpuestas, ¿esta seguro de que desea aceptarla?' }, class: "btn btn-default"%>  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        
      </tbody>
    </table>

  </div>
</div>
    