<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "logo.png", title: "Logo", class: "logo" %>
          <% end %>
          
<!--
          <button type="button" class="btn btn-default navbar-btn ">Sign in</button>
-->

        <div class="collapse navbar-collapse">
          
        </div><!--/.nav-collapse -->
      </div>

      <div class="btn-toolbar pull-right">

        <% @unanswered_questions = Question.joins(:couch).where('couches.user'=> current_user, answer: nil).count %>


        <% if !user_signed_in? %>
           <%= link_to 'Ingresar', login_path, class: "btn btn-default"%>
        <% else %>

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= current_user.name %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><%= link_to 'Nuevo Hospedaje', new_couch_path %></li>
              <li><%= link_to 'Mis Hospedajes', couches_self_path %></li>
              <li><%= link_to 'Mis Reservas', reservations_self_path %></li>
              <li><%= link_to 'Mis Calificaciones', rating_self_path %></li>
              <li><%= link_to 'Historial', hist_self_path %></li>
              <li><%= link_to 'Mi Cuenta', current_user %></li>

              <li role="separator" class="divider"></li>
              <% if @unanswered_questions > 0 %>
                <% if @unanswered_questions == 1 %>
                  <li><%= link_to @unanswered_questions.to_s+' Pregunta Pendiente', couches_self_path, class: "btn btn-warning" %></li>
                <% else %>
                  <li><%= link_to @unanswered_questions.to_s+' Preguntas Pendientes', couches_self_path, class: "btn btn-warning" %></li>
                <% end %> 
                <br>
                <li role="separator" class="divider"></li>
              <% end %>

              <% if current_user.admin? %>
                <li><%= link_to 'Tipos de Couch', types_path %></li>
                <li><%= link_to 'Reporte de ganancias', prems_path %></li>
                <li><%= link_to 'Reporte de usuarios', users_path %></li>
                <li role="separator" class="divider"></li>
              <% end %>
              
              <li><%= link_to 'Salir', logout_path, :method => :delete %></li>
            </ul>
          </div>
          

        <% end %>

      </div>

    </div>
  </header>
